<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
           http://www.springframework.org/schema/tx
     	   http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- 采用注释的方式配置bean -->
    <context:annotation-config />
    <!-- 配置要扫描的包 -->
    <context:component-scan base-package="com.zjicm" ></context:component-scan>

    <!--proxy-target-class="true"强制使用cglib代理   如果为false则spring会自动选择-->
    <aop:aspectj-autoproxy  proxy-target-class="true"/>

    <!-- 配置数据源 -->
    <bean id="abstractDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" abstract="true"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="initialPoolSize" value="5"/>
        <property name="maxIdleTime" value="60"/>
        <property name="acquireIncrement" value="1"/>
        <property name="maxStatements" value="0"/>
        <property name="idleConnectionTestPeriod" value="60"/>
        <property name="preferredTestQuery" value="select 2"/>
        <property name="acquireRetryAttempts" value="20"/>
        <property name="breakAfterAcquireFailure" value="false"/>
        <property name="testConnectionOnCheckout" value="false"/>
        <property name="testConnectionOnCheckin" value="true"/>
    </bean>

    <bean id="dataSource" parent="abstractDataSource">
        <property name="jdbcUrl"
                  value="jdbc:mysql://${datasource.host}:${datasource.port}/${datasource.schema}?${datasource.connection.params}"/>
        <property name="user" value="${datasource.username}"/>
        <property name="password" value="${datasource.password}"/>
        <property name="minPoolSize" value="${datasource.minpoolsize.main}"/>
        <property name="maxPoolSize" value="${datasource.maxpoolsize.main}"/>
    </bean>

    <!-- 整合Hibernate的SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hbm2ddl.auto">false</prop>
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.zjicm.auth.domain</value>
                <value>com.zjicm.college.domain</value>
                <value>com.zjicm.company.domain</value>
                <value>com.zjicm.cooperation.domain</value>
                <value>com.zjicm.intention.domain</value>
                <value>com.zjicm.job.domain</value>
                <value>com.zjicm.practice.domain</value>
                <value>com.zjicm.resume.domain</value>
                <value>com.zjicm.shortterm.domain</value>
                <value>com.zjicm.student.domain</value>
            </list>
        </property>
    </bean>

    <!-- 配置transaction -->
    <bean id="transactionManager"  class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <aop:config>
        <aop:pointcut id="serviceMethods"  expression="execution(* com.zjicm.service.*Service.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="login" read-only="true"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="pageFor*" read-only="true"/>
            <tx:method name="search*" read-only="true"/>
            <tx:method name="insert*" propagation="REQUIRED"/>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="cancel*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <!-- 配置HibernateTemplate -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
</beans>