@charset "utf-8";
.content{
  width: 900px;
  height: 500px;
  margin: 0 auto;  
}

.login{
  position: relative;
  float:right;
  margin: 100px 20px;
  width: 300px;
  height: 300px;
  border: 1px solid #333;
}

.login h1{
  text-align: center;
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px dotted #333;
}

.item,.item2{
  width: 260px;
  margin: 10px auto;
}

.item label,.item2 span{
  display: inline-block;
  float: left;
  margin-right: 15px;
  text-align: right;
  width: 70px;
  font-size: 14px;
  vertical-align: baseline;
}

.item input{width: 150px;}

.item2 label{padding: 0 5px;font-size: 14px;}

.item .btn-submit{
  width: 80px;
  height: 30px;
  font-size: 14px;
  background: #fff;
  border: 1px solid;
  border-radius: 5px;
}