.page {
    border: 0;
    box-shadow:none;
    max-width: 1200px;
}

.sidebar{
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}

.week-record{
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    margin: 5px 0;
    line-height: 2;
    position: relative;
    float: left;
    height: auto;
    font-size: 13px;
}
.record-time {
    position: relative;
    float: right;
}

.record-place {
    position: relative;
    float: left;
}

.week-record > div {
    position: relative;
    float: left;
    width: 100%;
}

.record-content {
    text-indent: 2em;
    font-size: 15px;
}

.main {
    padding-top: 0px;
   
}
